node_modules
.DS_Store
dist
.tmp
.sass-cache
bower_components
test/bower_components
npm-debug.log
app/images/sprites/*.png
db.sqlite3
/public
/server/src

public/images/spritesheet.png
public/images/spritesheet.json
public/images/sprites/*.png
press/
