section#credentials
  background url(../../public/images/background.jpg) no-repeat center
  background-size cover

  .ad-left
    position absolute
    display inline-block
    width 300px
    height 250px
    left 4vh
    top 0
    bottom 0
    margin auto

  .ad-right
    position absolute
    display inline-block
    width 300px
    height 250px
    right 4vh
    top 0
    bottom 0
    margin auto

  img
    margin-top 28vh
    margin-bottom 32px
    width 40vw

  input
    width 300px
    text-align: center
    margin-bottom 2vh

  a
    display block
