section#credentials
  background url(../../public/images/background.jpg) no-repeat center
  background-size cover
  @media screen and (orientation:portrait)
    &::after
      width 100vw
      height 100vh
      position absolute
      top 0
      left 0
      content ''
      z-index 99999
      background-color #000
      background-image url(../../public/images/sprites/icons-mobile-landscape.png)
      background-position center
      background-repeat no-repeat
      background-size 30%
      image-rendering pixelated

  div.featured-youtuber
    background rgba(0, 0, 0, 0.25)
    border-radius 4px
    position absolute
    left 4vh
    top 58px
    display inline-block
    font-size 22px
    a
      display inline-block
      background-image url(../../public/images/youtube-icon.png)
      background-repeat no-repeat
      background-position 10px 13px
      padding 8px 8px 8px 40px

  .fb-like
    position absolute
    left 4vh

  .fb-login
    display inline-block
    margin-bottom 4px

  section
    padding 12px
    // background rgba(0, 0, 0, 0.25)
    margin 0 auto

    &.login, &.register
      width 480px

    ul.heroes
      list-style none
      font-size 0.6em
      li
        position relative
        display inline-block

        a:first-child
          padding 12px
          display inline-block
          width 150px
          text-align center
          display inline-block
          overflow hidden
          border-radius 4px
          &:hover
            background rgba(0, 0, 0, 0.25)
          span
            display block
            &.name
              text-overflow ellipsis
              white-space nowrap
            &.lvl
              font-size 0.8em
            &.skin
              display inline-block
              width 35px
              height 50px
              image-rendering pixelated
              background-size 1280px 1280px // 256 * 5 (HeroSkinBuilder)

        a:last-child
          display none
        &:hover
          a:last-child
            display inline-block
            position absolute
            right 0
            top 0

  p
    margin 12px

  input
    font 24px primary
    width 50vw
    padding 14px
    margin 4px 0
    border 4px solid #000
    transition border 0.4s

    &:focus:invalid
      border 4px solid #d00000

    &:focus, &:active
      padding 14px !important
      border 4px solid #fcf458
      outline none
      outline-width 0

  input[type="submit"]
    cursor pointer
    font 24px primary
    display inline-block
    background #5c3000
    color #fff
    transition background 0.2s
    &:hover
      background #482c04

  .new-hero
    display inline-block
    margin-top 8px
    font-size 0.8em

  .ad-left
    position absolute
    background rgba(0, 0, 0, 0.25)
    display inline-block
    width 300px
    height 250px
    left 4vh
    top 0
    bottom 0
    margin auto
    @media only screen and (max-width: 768px)
      display none

  .updates
    h2
      text-shadow -1px 0 #740000, 0 -1px #740000, 1px 0 #740000, 0px 2px #740000
      color #fc6018
    text-align center
    position absolute
    bottom 10vh
    left 0
    right 0
    display inline-block
    font-size 0.7em
    @media only screen and (max-width: 768px)
      display none

  img
    margin-top 10vh
    margin-bottom 12px
    width 40vw

  input
    width 300px
    text-align: center
    margin-bottom 2vh
