section#credentials
  form
    position absolute
    top 0
    bottom 0
    right 0
    left 0
    margin auto
    height 284px

    &.register
      .visible-login
        display none

    &.login
      .visible-register
        display none

