@import fonts

*
  margin 0
  padding 0
  box-sizing border-box

html, body
  overflow hidden

body
  font 16px primary
  color #fff
  background #000

.hidden
  display none

canvas
  width 100vw
  height 100vh
  cursor none
  image-rendering pixelated

h1
  margin 24px
  font-size 42px

a
  color #fcf458
  text-decoration none
  padding 8px
  &:hover
    color #d0c01c
    text-decoration underline

p
  margin 12px

// main#game
//   cursor url(../images/cursor-pointer.png), pointer
//   &.attack
//     cursor url(../images/cursor-punch.png) -8px -8px,  auto !important

input
  font 24px primary
  width 50vw
  padding 14px
  margin 4px 0
  border 4px solid #482c04
  transition border 0.4s

  &:focus:invalid
    border 4px solid #d00000

  &:focus, &:active
    padding 14px !important
    border 4px solid #785004
    outline none
    outline-width 0

input[type="submit"]
  cursor pointer
  font 24px primary
  display inline-block
  background #5c3000
  color #fff
  transition background 0.2s
  &:hover
    background #482c04

@import credentials
@import modal
