@import fonts
@import ads

// feedback
.feedback
  position absolute
  bottom 12px
  right 12px
  z-index 100
  font-size 24px

*
  margin 0
  padding 0
  box-sizing border-box

html, body
  overflow hidden

body
  font 38px primary
  color #fff
  background #000

  &.loading
    cursor progress
    .not-loaded
      display block

  &.loaded
    .not-loaded
      display none !important

.hidden
  display none !important

canvas
  width 100vw
  height 100vh
  cursor none
  image-rendering pixelated

section#chat
  position absolute
  left 0
  bottom 0
  width 320px
  height 15vh
  display flex
  flex-direction column
  font-size 20px
  padding 12px

  &:not(.active)
    input
      background none
    button
      display none
    .messages
      pointer-events none

  &.active
    height 30vh

  div.messages
    flex 1
    overflow scroll
    display flex
    .contents
      align-self flex-end
      // padding 12px
      text-shadow -1px 0 #000, 0 -1px #000, 1px 0  #000, 0px 2px #000

  form
    width 100%
    display flex
    flex-direction row
    input
      background rgba(255, 255, 255, 0.5)
      color #342000
      font-family inherit
      display inline-block
      border 0
      margin 0
      font-size 20px
      width 80%
      padding 8px
      flex 1
      outline none
    button
      font-family inherit
      display inline-block
      width 20%
      font-size 20px
      background #cca874
      color #342000
      border 0
      &:hover
        cursor pointer
        background #644014
        color #cca874

div.adblock
  position absolute
  left 0
  top 0
  background #d00000
  color #fff
  text-shadow -1px 0 #5c0400, 0 -1px #5c0400, 1px 0  #5c0400, 0px 2px #5c0400
  z-index 9999
  width 100%
  text-align center
  font-size 22px
  padding 4px

h1
  margin 24px
  font-size 42px

a
  color #fff
  text-decoration none
  padding 8px
  text-shadow -1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000
  &:hover
    color #fcf458

@import credentials
@import modal
@import hint
