.modal
  pointer-events none
  position absolute
  text-align center
  width 100vw
  height 100vh
  top 0
  bottom 0
  right 0
  left 0
  margin auto
  transition opacity 0.2s
  z-index -10

  &.speak-modal
    form
      position absolute
      top 0
      bottom 0
      right 0
      left 0
      margin auto
      height 60px

  opacity 0
  background rgba(0, 0, 0, 0.9)

  // display none
  &.active
    pointer-events all
    display block
    opacity 1
    z-index 10
