@font-face
  font-family 'primary'
  src url('../fonts/5x5_pixel.eot')
  src url('../fonts/5x5_pixel.eot?#iefix') format('embedded-opentype'),
       url('../fonts/5x5_pixel.woff') format('woff'),
       url('../fonts/5x5_pixel.ttf') format('truetype'),
       url('../fonts/5x5_pixel.svg#5x5_pixel.svg') format('svg')
  font-weight normal
  font-style normal

p#font-5px
  position absolute
  font-family 'primary'
  visibility hidden
